@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Questrial', sans-serif;
  background-color: #f4f2ed;
}

h3 {
  font-family: 'Teko', sans-serif;
}

.bg-underline1 {
  background-image: url('/Underline1.svg');
}

.bg-highlight3 {
  background-image: url('/Highlight3.svg');
}
