@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-clr: #f4f2ed;
  --btn1-clr: #3d992b;
  --btn2-clr: #5d90ee;
}

body {
  font-family: 'Questrial', sans-serif;
  background-color: var(--bg-clr);
}

h3 {
  font-family: 'Teko', sans-serif;
}

.bg-underline1 {
  background-image: url('/Underline1.svg');
}

.bg-highlight3 {
  background-image: url('/Highlight3.svg');
}
